{% extends 'admin/admin_home.html.twig' %}

{% block title %}New WeightRange{% endblock %}

{% block body %}
    <h1>Nouveau tranche tarif</h1>

    {{ include('weight_range/_form.html.twig') }}

    <a href="{{ path('weight_range_index') }}" class="btn btn-secondary"><i class="material-icons align-bottom">keyboard_arrow_left</i>back to list</a>
{% endblock %}
