{% extends 'base.html.twig' %}

{% block title %}Edit TypePayment{% endblock %}

{% block body %}
    <h1>Edit TypePayment</h1>

    {{ include('type_payment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_payment_index') }}">back to list</a>

    {{ include('type_payment/_delete_form.html.twig') }}
{% endblock %}
