{% extends 'admin/admin_home.html.twig' %}

{% block title %}New TypePayment{% endblock %}

{% block body %}
    <h1>Create new TypePayment</h1>

    {{ include('type_payment/_form.html.twig') }}

    <a href="{{ path('type_payment_index') }}">back to list</a>
{% endblock %}
