{# {% form_theme form 'weight_range/_form.html.twig' %} #}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success" style="margin:1% 1% 1% 0;">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
