{% extends "order_tunnel/base.html.twig" %}

{% block body %}
    <h1>Merci votre commande a été validée !</h1>
    <a type="button" href="{{ path('accueil_path') }}" class="btn btn-success">Retour à l'accueil</a>
{% endblock %}